@keyframes headeranim{
    0%{background-image: url(../img/header1.jpg);}
    34%{background-image: url(../img/header2.jpg);}
    66%{background-image: url(../img/header3.jpg);}
    100%{background-image: url(../img/header1.jpg);}
}