@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Quando&family=Roboto&family=Send+Flowers&display=swap");
html {
  font-size: 62.5%; }

nav {
  background-color: #085492;
  padding: 5px 25px;
  opacity: .9; }
  nav div a img {
    width: 250px; }
    @media (max-width: 380px) {
      nav div a img {
        width: 200px; } }
  nav div button {
    background-color: #f7fbff; }
  nav div div ul li {
    margin: 15px; }
    nav div div ul li a {
      font-family: "Quando", serif;
      color: #f7fbff;
      font-size: 1.5rem;
      text-decoration: none;
      padding: 15px; }

.navlink {
  font-family: "Quando", serif;
  color: #f7fbff;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 15px; }

@keyframes headeranim {
  0% {
    background-image: url(../img/header1.jpg); }
  34% {
    background-image: url(../img/header2.jpg); }
  66% {
    background-image: url(../img/header3.jpg); }
  100% {
    background-image: url(../img/header1.jpg); } }

@keyframes animopacity {
  from {
    opacity: 0.1; }
  to {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0; }

.bg__color3 {
  background-color: #b22420; }

.bg__color5 {
  background: linear-gradient(to top, #ffc0cb, #f7fbff); }

.bg__white {
  background-color: #f7fbff; }

.bg__transparent {
  background-color: transparent; }

.h__40 {
  height: 40vh; }

body {
  background-color: #085492;
  min-height: 100vh;
  max-width: 100vw; }

footer {
  height: 10vh;
  background-color: #085492;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0%; }

p {
  font-size: 2rem; }

a[role="button"], #sec_catering div a {
  font-family: "Quando", serif;
  font-size: 2rem;
  text-decoration: none;
  color: #f7fbff;
  background-color: #b22420;
  opacity: .8;
  border-radius: 50%;
  border: none; }

header {
  height: 60vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation-name: headeranim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
  header h1 {
    font-family: "Quando", serif;
    color: #085492;
    font-size: 3.5rem;
    margin: 15px;
    background-color: #f7fbff;
    text-shadow: 1px 1px #9acfdb;
    opacity: 0.55;
    animation-name: animopacity;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

.nosotros {
  background-color: #9acfdb;
  text-align: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.nosotros__deco {
  height: 60px;
  margin: 15px; }

.comentarios__marco {
  height: 80%;
  border: 2px solid #ffc152;
  text-align: center;
  padding: 60px;
  margin: 20px; }

.comentarios__bandoneon {
  max-height: 30%;
  z-index: 59;
  margin: 15px auto -30px; }

#sec_catering {
  height: 60vh;
  width: 100%;
  background-image: url(../img/bgcatering_.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  #sec_catering div {
    width: 90%;
    text-align: left;
    background-color: #000000c7;
    margin: 15px;
    display: flex;
    flex-direction: column; }
    #sec_catering div h4 {
      font-family: "Send Flowers", cursive;
      font-size: 6rem;
      color: #ffc152;
      position: relative;
      z-index: 69; }
    #sec_catering div p {
      text-align: center;
      font-size: 3rem;
      color: #f7fbff; }
    #sec_catering div a {
      background-color: #ffc152 !important;
      padding: 1.8%;
      margin-bottom: 10px;
      position: relative;
      align-self: flex-end;
      margin-right: -15px;
      opacity: 1; }

.bg__eventos {
  background-image: url(../img/bgeventos.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.eventos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; }

.eventos__contenido {
  width: 20%;
  margin: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.lowcontact {
  height: 10vh;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center; }

/*page CATERING*/
#page__catering {
  height: 80vh;
  background-image: url(../img/bgcatering.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  #page__catering div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #B5B5B5;
    opacity: .87;
    justify-content: space-between; }
    #page__catering div h1 {
      font-family: "Send Flowers", cursive;
      font-size: 9rem;
      color: #ffc152; }
    #page__catering div p {
      color: #f7fbff;
      font-size: 1.7rem; }
    #page__catering div a {
      background-color: #ffc152;
      text-decoration: none;
      padding: 10px;
      position: relative;
      left: 10%;
      top: 29px;
      opacity: 1; }

/* PAGE MENU */
.page__menu {
  height: 100vh;
  background-color: #9acfdb; }

.img__card {
  max-height: 100px; }

/* platillos */
.section__menu {
  background-color: #9acfdb;
  opacity: 1;
  width: 100%; }

.section__menu--carta {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }

/* PAGE NOSOTROS */
.nosotros__img {
  border-radius: 60%;
  border: 10px double #ffc152;
  animation-name: animopacity;
  animation-duration: 4s; }

.nosotros__img:hover {
  transform: scale(1.014);
  border-radius: 60%;
  border: none; }

/* PAGE CONTACTO */
.input__texto {
  width: 40rem;
  height: 20rem; }

.boton__contacto {
  font-family: 'Gentium Plus', serif;
  font-size: 2rem;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #b22420;
  opacity: .8;
  border: none; }

.input__boton {
  opacity: 1;
  margin: 5px 5px 20px 40px; }

/* PAGE CONTACTO */
.page__contacto {
  height: 75vh; }

fieldset {
  margin: 20px;
  /* max-width: 60%; */
  text-align: left;
  border-style: double;
  border-color: #b22420;
  font-family: 'Roboto', sans-serif;
  color: #085492;
  font-size: 2rem;
  padding: 10px; }

label {
  font-family: 'Quando', serif;
  color: #b22420;
  font-size: 2.5rem;
  font-weight: 900; }
