@keyframes headeranim{
    0%{background-image: url(../img/header1.jpg);}
    34%{background-image: url(../img/header2.jpg);}
    66%{background-image: url(../img/header3.jpg);}
    100%{background-image: url(../img/header1.jpg);}
}

@keyframes animopacity{
    from{opacity: 0.1;}
    to{opacity: 1;}
}

@mixin animationset {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}