*{
    margin:0;
    padding:0;
}

// Backgrounds

.bg__color3{
    background-color: $color3;
}

.bg__color5{
    background: linear-gradient(to top, $color5, $color_w);
}
.bg__white{
    background-color: $color_w;
}

.bg__transparent{
    background-color: transparent;
}
.h__40{
    height: 40vh;
}

body{
	background-color: $color1;
    min-height: 100vh;
    max-width: 100vw;
}

footer{
    height: 10vh;
    background-color: #085492;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0%;
}

p{
    font-size: $textMD;
}
a[role="button"]{
    font-family: $titleFont;
    font-size: $textMD;
    text-decoration: none;
    color: $color_w;
    background-color: $color3;
    opacity: .8;
    border-radius: 50%;
    border: none;
}


// ======== INDEX =====

header{
    height: 60vh;  
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation-name: headeranim;
    @include animationset;
    h1{
        font-family: $titleFont;
        color: $color1;
        font-size: $textXL;
        margin: 15px;
        background-color: $color_w;
        text-shadow: 1px 1px $color2;
        opacity: 0.55;
        animation-name: animopacity;
        @include animationset;
    }
}

// SEC NOSOTROS ========

.nosotros{
    background-color: $color2;
    text-align: center;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }
    
    
.nosotros__deco{
    height: 60px;
    margin: 15px;
    }

// SEC COMENTARIOS =======

.comentarios__marco{
    height: 80%;
	border: 2px solid $color4;
	text-align: center;
	padding: 60px;
	margin: 20px;
}

.comentarios__bandoneon{
	max-height: 30%;
	z-index: 59;
	margin: 15px auto -30px;
}

// SEC CATERING ========

#sec_catering{
    height: 60vh;
	width: 100%;
	background-image: url(../img/bgcatering_.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        width: 90%;
        text-align: left;
        background-color: #000000c7;
        margin: 15px;
        display: flex;
        flex-direction: column;
        h4{
            font-family: $cursiveFont;
            font-size: $textXXL;
            color: $color4;
            position: relative;
            z-index: 69;
        }
        p{
            text-align: center;
	        font-size: $textLG;
            color: $color_w;
        }
        a{
            background-color: $color4 !important;
            padding: 1.8%;
            margin-bottom: 10px;
            position: relative;
            align-self: flex-end;
            margin-right: -15px;
            opacity: 1;

        }
    }
}

// SEC EVENTOS ============

.bg__eventos   {
	background-image: url(../img/bgeventos.png);
	background-position: center;
	background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventos{
	display: flex;
	justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.eventos__contenido{
	width: 20%;
	margin: 15px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

// Sec MAPS

.lowcontact{
    height: 10vh;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
    align-items: center;
}